@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes marquee-vertical {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: translateY(-100%);
    opacity: 0;
  }
}

.animate-marquee-vertical {
  animation: marquee-vertical 12s linear infinite;
}

.animate-marquee-vertical:hover{
    animation-play-state: paused;
}